.menu {
  display: none;
  position: absolute;
  right: 1rem;
  top: 2.5rem;
}

.toggle-menu {
  display: none;
  position: absolute;
}

.toggle-menu:checked+.menu {
  display: block;
}

.label-menu {
  display: block;
  cursor: pointer;
}