@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #fff;
  --background-secondary: #888;
  --background-tertiary: #585858;
  --background-quaternary: #6298de;
  --text-primary: #fff;
  --text-secondary: #3065ac;
  --border-primary: #888;
  --border-secondary: #3065ac;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #1e1e1e;
    --background-secondary: #2c2c2c;
    --background-tertiary: #585858;
    --background-quaternary: #6298de;
    --text-primary: #fff;
    --text-secondary: #6298de;
    --border-primary: #6298de;
    --border-secondary: #2c2c2c;
  }
}